header {
  background-color: theme('colors.orange.400');
  .login-btn {
    transition: background-color .25s ease;
    &:hover {
      transition: background-color .25s ease;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}