html {
  font: georgia, serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:active,
a:hover {
  outline-width: 0;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}